language: rust
os: linux
dist: xenial

cache:
  directories:
    - /home/travis/.cargo

jobs:
    - name: Page
      rust: stable
      before_script:
        - curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh -s -- -f
      install:
        - rustup target add wasm32-unknown-unknown
        - curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.0/install.sh | bash
        - source ~/.nvm/nvm.sh
        - nvm install 10
      script:
        - mkdir -p docs
        - rm -rf ./docs/*
        - wasm-pack build
        - cd www && npm install
        - cp -r ./styles ./dist
        - cp -r ./images ./dist
        - npm run build
        - mv ./dist/* ../docs
        - cd ../
      deploy:
        provider: pages
        strategy: git
        token: $GITHUB_TOKEN
        local_dir: docs
        keep_history: false
        edge: true
        on:
          branch: main
